@model TonyRobertsOrganist.Core.Models.DiaryEvent



<div>


    <tr>
        <td>
            <p>@Model.EventDate&nbsp;&nbsp;</p>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <p>@Model.StartTime&nbsp;&nbsp;</p>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <p>@Model.EndTime&nbsp;&nbsp;</p>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <p>@Model.Location&nbsp;&nbsp;</p>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <p>@Model.AdditionalInformation</p>
        </td>
    </tr>



</div>


